html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.home-section {
  height: 100vh;
  background: linear-gradient(135deg, #6c63ff, #3f3d56);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.nav-link:hover {
  color: #ffc107;
}

.project-card {
  transition: all 0.3s ease;
}
.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-dark:hover {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.btn i {
  margin-right: 5px;
}

footer {
  background: #111;
}
#education .card {
  border: none;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#education .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

#resume {
  background: #f8f9fa;
}

#resume .btn {
  border-radius: 25px;
  padding: 12px 30px;
}
.list-group-item:hover {
  cursor: pointer;
}
#about .row {
  justify-content: center;
}

#about .col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .list-group {
  text-align: center;
}